/* Importando Fontes */
@import url('https://fonts.googleapis.com/css2? family= Assistant:wght@800 & family= Oldenburg & family= Oswald:wght@700 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(-246.45deg, #011E24 50.64%, rgba(0, 127, 167, 0.62) 71.35%, rgba(0, 193, 254, 0.61326) 89.12%);
}

/* Header */
.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 32px;
    border-bottom: 1px solid #C4BDE3C9;
    padding: 20px;
}
.cabecalho-logo {
    width: 80px;
    height: 80px;
}
.cabecalho-titulo {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 40px;
    color: #C4BDE3;
}
.cabecalho-itens {
    font-family: "Assistant";
    font-weight: 800;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #C4BDE3;
}

/* Home */
.home {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 35px;
    margin-bottom: 200px;
    gap: 40px;
}
.home-apresentacao-titulo {
    font-family: "Oswald";
    font-weight: 700;
    font-size: 60px;
    color: #C4BDE3;
    text-align: center;
}
.home-apresentacao p {
    width: 520px;
    margin-top: 10px;
    font-size: 20px;
    letter-spacing: 10px;
    font-family: "Oldenburg";
    font-weight: 400;
    color: #C4BDE3;
    text-transform: uppercase;
    animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}
@keyframes typing {
    from {width: 0;}
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
.home-imagem {
    width: 300px;
    height: 300px;
}

/* Sobre mim */
.sobre-mim {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    text-align: center;
    color: #C4BDE3;
    padding: 10px;
}
.sobre-mim-titulo {
    border-top: 1px solid #C4BDE3;
    padding: 20px;
    font-family: "Oswald";
    font-size: 60px;
    font-weight: 700;
}
.sobre-mim-paragrafo{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #fffffff5;
}
.sobre-mim-imagem {
    margin-top: -100px;
    margin-bottom: 100px;
}

/* Tecnologias */